# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.fvm/flutter_sdk

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
.run/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
*.gr.dart
*.g.dart
*.gform.dart
*.config.dart
*.freezed.dart
*.env
.firebase/**/google-services.json
.firebase/**/GoogleService-Info.plist
locator.config.dart
firebase_options.*.dart

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Fastlane generataed files
*.ipa
*.zip
report.xml
**/fastlane/*.json

# Test coverage
/coverage/

#TODO IMPORTANT REMOVE THIS IGNORE ON FINAL PROJECT
env.*.json
