<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>795134483527-ip95dpf1p3580e5sb8putaa479qrpugj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.795134483527-ip95dpf1p3580e5sb8putaa479qrpugj</string>
	<key>API_KEY</key>
	<string>AIzaSyDZ7w7kvUApWu5wB_2FzSgiMQ4hC65bVoE</string>
	<key>GCM_SENDER_ID</key>
	<string>795134483527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterbase.live</string>
	<key>PROJECT_ID</key>
	<string>flutter-base-live</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-base-live.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:795134483527:ios:2db772a5fb9f5d16fa6562</string>
</dict>
</plist>