<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441627736227-4b5chfmgt17lnf2glcssfg9ulk40d892.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441627736227-4b5chfmgt17lnf2glcssfg9ulk40d892</string>
	<key>API_KEY</key>
	<string>AIzaSyBedymf_1L9Bf7szncdEHH2kr4jPLJvxDk</string>
	<key>GCM_SENDER_ID</key>
	<string>441627736227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterbasemrmilu.dev</string>
	<key>PROJECT_ID</key>
	<string>flutter-base-beta</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-base-beta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441627736227:ios:346a5bfd1c7773e6a66716</string>
</dict>
</plist>